<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context.xsd">
 	
 	
	<bean name="student" class="com.springcore.Student">
		<!-- collaborators and configuration for this bean go here -->
		<property name="name">
			<value>Amit</value>
		</property>
		<property name="age">
			<value>21</value>
		</property>
		<property name="address" ref="address"/>
	</bean>
	<bean name="student2" class="com.springcore.Student" p:name="Sumit" p:age="22" p:address-ref="address"/>
		<!-- collaborators and configuration for this bean go here -->
		
	<bean name="address" class="com.springcore.Address">
		<!-- collaborators and configuration for this bean go here -->
		<property name="city" value="Gurugram"/>
			
		<property name="state" value="Haryana"/>
			
	</bean>

</beans>